@page "/"

<PageTitle>Dashboard</PageTitle>

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
</head>


<body>
	<div class="layout_container">

		<div class="i1">
            <RadzenScheduler Data="@data" TItem="DataItem" StartProperty="Start" EndProperty="End" TextProperty="Text">
                <RadzenDayView />
                <RadzenWeekView />
                <RadzenMonthView />
            </RadzenScheduler>
            @code {
                class DataItem
                {
                    public DateTime Start { get; set; }
                    public DateTime End { get; set; }
                    public string Text { get; set; }
                }

                DataItem[] data = new DataItem[]
                {
            new DataItem
            {
            Start = DateTime.Today,
            End = DateTime.Today.AddDays(1),
            Text = "Birthday"
            },
                };
            }
		</div>

		<div class="i2">
            <div class="card_container">
                <div class="card">
                    <h3 class="title">Card 1</h3>
                    <div class="bar">
                        <div class="emptybar"></div>
                        <div class="filledbar"></div>
                    </div>
                    <div class="circle">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <circle class="stroke" cx="60" cy="60" r="50" />
                        </svg>
                    </div>
                </div>
                <div class="card">
                    <h3 class="title">Card 2</h3>
                    <div class="bar">
                        <div class="emptybar"></div>
                        <div class="filledbar"></div>
                    </div>
                    <div class="circle">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <circle class="stroke" cx="60" cy="60" r="50" />
                        </svg>
                    </div>
                </div>
                <div class="card">
                    <h3 class="title">Card 3</h3>
                    <div class="bar">
                        <div class="emptybar"></div>
                        <div class="filledbar"></div>
                    </div>
                    <div class="circle">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <circle class="stroke" cx="60" cy="60" r="50" />
                        </svg>
                    </div>
                </div>
                <div class="card">
                    <h3 class="title">Card 4</h3>
                    <div class="bar">
                        <div class="emptybar"></div>
                        <div class="filledbar"></div>
                    </div>
                    <div class="circle">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <circle class="stroke" cx="60" cy="60" r="50" />
                        </svg>
                    </div>
                </div>
            </div>
		</div>

		<div class="i3">
@*            @using System.Linq.Dynamic.Core

            <RadzenDataList WrapItems="true" AllowPaging="true" Data="@orders" Count="@count" TItem="Order" LoadData="@LoadData">
                <Template Context="order">
                    <div>Company:</div>
                    <b>@order.Customer?.CompanyName</b>
                </Template>
            </RadzenDataList>

            @code {
                IEnumerable<Customer> customers;
                int count;

                void LoadData(LoadDataArgs args)
                {
                    // This demo is using https://dynamic-linq.net
                    var query = dbContext.Customers.AsQueryable();

                    count = query.Count();

                    // Perform paging via Skip and Take.
                    customers = query.Skip(args.Skip.Value).Take(args.Top.Value).ToList();
                }
            }
*@		</div>

		<div class="i4">
            <div class="card_container">
                <div class="card">
                    <h3 class="title">Card 1</h3>
                    <div class="bar">
                        <div class="emptybar"></div>
                        <div class="filledbar"></div>
                    </div>
                    <div class="circle">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <circle class="stroke" cx="60" cy="60" r="50" />
                        </svg>
                    </div>
                </div>
                <div class="card">
                    <h3 class="title">Card 2</h3>
                    <div class="bar">
                        <div class="emptybar"></div>
                        <div class="filledbar"></div>
                    </div>
                    <div class="circle">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <circle class="stroke" cx="60" cy="60" r="50" />
                        </svg>
                    </div>
                </div>
                <div class="card">
                    <h3 class="title">Card 3</h3>
                    <div class="bar">
                        <div class="emptybar"></div>
                        <div class="filledbar"></div>
                    </div>
                    <div class="circle">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <circle class="stroke" cx="60" cy="60" r="50" />
                        </svg>
                    </div>
                </div>
                <div class="card">
                    <h3 class="title">Card 4</h3>
                    <div class="bar">
                        <div class="emptybar"></div>
                        <div class="filledbar"></div>
                    </div>
                    <div class="circle">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <circle class="stroke" cx="60" cy="60" r="50" />
                        </svg>
                    </div>
                </div>
            </div>
		</div>

	</div>
</body>