@page "/"

<PageTitle>Dashboard</PageTitle>

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
</head>


<body>
	<div class="layout_container">

		<div class="i1">
            <RadzenScheduler Data="@data" TItem="DataItem" StartProperty="Start" EndProperty="End" TextProperty="Text">
                <RadzenDayView />
                <RadzenWeekView />
                <RadzenMonthView />
                <RadzenYearView />
            </RadzenScheduler>
            @code {
                class DataItem
                {
                    public DateTime Start { get; set; }
                    public DateTime End { get; set; }
                    public string Text { get; set; }
                }

                DataItem[] data = new DataItem[]
                {
                    new DataItem
                    {
                        Start = DateTime.Today,
                        End = DateTime.Today.AddDays(1),
                        Text = "Birthday"
                    }
                };
            }
		</div>

		<div class="i2">
            <section id="slider">
                <input type="radio" name="slider" id="s1">
                <input type="radio" name="slider" id="s2">
                <input type="radio" name="slider" id="s3" checked>
                <input type="radio" name="slider" id="s4">
                <input type="radio" name="slider" id="s5">
                <label for="s1" id="slide1"></label>
                <label for="s2" id="slide2"></label>
                <label for="s3" id="slide3"></label>
                <label for="s4" id="slide4"></label>
                <label for="s5" id="slide5"></label>
            </section>
		</div>

        <div class="i3" style="color:white;">
            <RadzenDataList WrapItems="false" AllowPaging="true" PageSize="4" Data="@announcements" Count="@announcements.Count()" TItem="Announcement">
                <Template Context="announcement">
                    <div>@announcement.Title</div>
                    <b>@announcement.Details</b>
                </Template>
            </RadzenDataList>

            @code 
            {
                List<Announcement> announcements = new List<Announcement>
                {
                        new Announcement("My Dick", "My dick is huge!"),
                        new Announcement("My Cock", "My cock is huge!"),
                        new Announcement("My Wiener", "My wiener is huge!"),
                        new Announcement("My Dong", "My dong is huge!"),
                        new Announcement("My Prick", "My prick is huge!"),
                        new Announcement("My Dick", "My dick is huge!"),
                        new Announcement("My Cock", "My cock is huge!"),
                        new Announcement("My Wiener", "My wiener is huge!"),
                        new Announcement("My Dong", "My dong is huge!"),
                        new Announcement("My Prick", "My prick is huge!")

                };

                class Announcement
                {
                    public string Title { get; set; }
                    public string Details { get; set; }

                    public Announcement(string title, string details)
                    {
                        Title = title;
                        Details = details;
                    }
                }
            }
		</div>

		<div class="i4">
            <section id="slider">
                <input type="radio" name="slider" id="s6">
                <input type="radio" name="slider" id="s7">
                <input type="radio" name="slider" id="s8" checked>
                <input type="radio" name="slider" id="s9">
                <input type="radio" name="slider" id="s10">
                <label for="s6" id="slide6"></label>
                <label for="s7" id="slide7"></label>
                <label for="s8" id="slide8"></label>
                <label for="s9" id="slide9"></label>
                <label for="s10" id="slide10"></label>
            </section>
		</div>

	</div>
</body>